# Python
__pycache__/
*.pyc
venv/
.env

# ComfyUI - Игнорируем всю директорию
ComfyUI/

# Старые версии
.trash


# IDE-специфичные файлы
.vscode/
.idea/

# Логи и временные файлы
*.log
*.tmp

# Системные файлы
.DS_Store
Thumbs.db
